ion-list {

  /*padding-bottom: 0px;
  !*padding-right: 16px;*!
  padding-right: 0px;*/

  ion-item-sliding{
    background: var(--cs-background-accent);
  }

  ion-item{
    --inner-padding-end: 0px;
    --inner-padding-top: 5px;
    --inner-padding-bottom: 5px;
  }

}
sup{top:-0.2em!important;}
.spanBorder{display:inline-block; border: 1px solid var(--highlight-color-invalid); padding: 0 4px}
