<div >
  <ion-list>
      <ion-item class="default-item box-shadow" lines="none" *ngFor="let i of range">
          <ion-label>
              <h2 class="text-size-md font-bold text-color-primary ion-text-wrap">
                  <ion-skeleton-text animated style="width: 30%">
                  </ion-skeleton-text>
              </h2>
              <h3 class="text-size-sm text-color-primary font-regular ion-text-wrap">
                  <ion-skeleton-text animated style="width: 50%">
                  </ion-skeleton-text>
              </h3>
              <p class="text-size-sm font-regular text-color-primary ion-text-wrap">
                  <ion-skeleton-text animated style="width: 80%">
                  </ion-skeleton-text>
              </p>
          </ion-label>
      </ion-item>
  </ion-list>
</div>