
.accountDetailsCard {
  border-bottom: 1px solid var(--cs-background-secondary); 
  padding: 6px;
  margin-bottom: 0px;
  line-height: 20px;
}

.accountDetailsCardBorder{
  // border: 1px solid #a8bbc1;
  
  margin: 8px;
}
