<div class="help-container" (click)="clickBackdrop($event)">
  <span #spanEl [class]="'active-element'">
  </span>
  <ion-card #helpcard class="background-primary help-card ion-no-margin">
    <ion-card-content class="content">
      <ion-buttons>
        <ion-button slot="start" [disabled]="activeElementIndex === 0" (click)="prevElement($event)" >
          <ion-icon class="lg-icon text-color-dark" name="chevron-back-outline">
          </ion-icon>
        </ion-button>
        <ion-text class="text-size-sm text-color-primary font-regular ion-padding-start ion-padding-end">
          {{ inputData[activeElementIndex].text }}
        </ion-text>
        <ion-button slot="end"  [disabled]="activeElementIndex === (inputData.length - 1)" (click)="nextElement($event)">
          <ion-icon class="lg-icon text-color-dark"
            name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <!-- <ion-button (click)="closeModal()">
          <p class="card-text text-color-dark" >Finish</p>
        </ion-button> -->
      </ion-buttons>
      <ion-text></ion-text>
    </ion-card-content>
  </ion-card>
</div>