<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button [defaultHref]="backBtnUrl"></ion-back-button>
            </ion-buttons>
            <ion-title>{{'lbl_view' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- SWIPE TO DISMISS --COMPONENT 1 -->
    <ion-content>
        <ng-container *ngIf="dataObj">
            <ion-list class="ion-no-padding ion-padding-end ion-padding-start">
                <app-lpopp-common-view [data]="dataObj"></app-lpopp-common-view>
                <ng-container [ngSwitch]="dataObj.institutionType">
                    <ng-container *ngSwitchCase="'SLCP'">
                        <app-slcp-view [data]="dataObj"></app-slcp-view>
                    </ng-container>
                    <ng-container *ngSwitchCase="'IRDP'">
                        <app-irdp-view [data]="dataObj"></app-irdp-view>
                    </ng-container>
                    <ng-container *ngSwitchCase="'SLPAP'">
                        <app-slpap-view [data]="dataObj"></app-slpap-view>
                    </ng-container>
                    <ng-container *ngSwitchCase="'EPFP'">
                        <app-epfp-view [data]="dataObj"></app-epfp-view>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CICTP'">
                    </ng-container>
                </ng-container>
            </ion-list>
            <ion-list class="ion-no-padding ion-padding-end ion-padding-start">
                <ion-item class="ion-no-padding" *ngIf="dataObj.rejectReason">
                    <ion-label class="ion-no-padding">
                        <h3 class="text-size-p text-color-primary font-regular ion-text-wrap">
                            {{'lbl_reject_reason' | translate}} </h3>
                        <p class="text-size-p font-regular  ion-text-wrap">
                            {{ dataObj.rejectReason || '-' }}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list class="ion-padding-end ion-padding-start">
                <maker-checker-details [data]="dataObj"></maker-checker-details>
            </ion-list>
        </ng-container>
    </ion-content>
</ion-app>
