ion-avatar {
  text-align: center;
  padding: 0;
  margin: 0;
/*  border: 1px solid #0080c7;*/
  width: 40px;
  height: 40px;
}

.mar6px{margin-left: 6px}
.mar4px{margin-left: 4px}
.marBot4px{margin-bottom: 4px}

ion-avatar ion-icon{margin-top: 8px}

.inputStartZero{--padding-start: 0!important;}

.text-size-xsp {font-size: 12px!important;}

.inputTopPadding {
   --padding-top: 0px!important;
}
.input-PadMar-Bottom-none{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
}

button:focus{
  outline: none;
}

.selected-avatar{
  color: var(--cs-text-dark);
  ion-avatar{
    background: var(--cs-background-accent);
    ion-icon{
      color:var(--cs-icon-color-secondary) !important
    }
  }

}

.login-background{  
  background-image: url("../../../assets/imgs/styleVShare/Login_Screen-bot.jpg");
  background-blend-mode: normal;
  background-position: left !important;
}
/*

!*mediaQuery*! !*Samsung Galaxy Tab 2*!

@media only screen and (max-width: 1280px) and (orientation : landscape) {
  !* LANDSCAPE:Samsung Galaxy Tab(7.7 > 12.2)*!

  ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/1280x800.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }
  .topmargin-top{
    margin-top: 14%!important;}

  .ios .topmargin-top{
    margin-top: 18%!important;}

}

@media only screen and (min-height: 800px) and (orientation : portrait) {
  !* LANDSCAPE: Samsung Galaxy Tab(7.7 > 12.2) *!

  ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/800x1280.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }
  !*.topmargin-top{
    margin-top: 62%!important;}*!
}

@media only screen and (max-width: 1024px) and (orientation : landscape) {
  !* LANDSCAPE: Apple iPad 1,2,3,4,Air,Mini, BlackBerry PlayBook, Samsung Galaxy Tab 2(7") *!
  ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/Login_Screen_land1024.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }
  .ios ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/Login_Screen_land1024-ios.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

}

!*and (min-width: 768px) Edit at 8.48pm *!
@media only screen  and (min-width: 1024px){
  !*ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/Login_Screen_land1024.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }
*!
}

@media only screen and (min-device-width: 800px) and (max-device-height: 1280px)
and (-webkit-device-pixel-ratio:2) and (orientation : portrait)
{
  ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/800x1280.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

}

@media only screen and (min-device-width: 1280px) and (max-device-height: 800px)
and (-webkit-device-pixel-ratio:2) and (orientation : landscape)
{
  ion-page ion-content{
    background-image:url(src/assets/imgs/styleVShare/1280x800.jpg)!important;
    background-size: cover!important;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    -o-background-size:cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

}

@media (min-height: 1440px) and (max-height: 1536px)
{
  .topmargin-top{
    margin-top: 25%!important;}
}
@media (max-height: 800px) and (max-height: 1280px)
{
  !*.topmargin-top{
    margin-top: 75%!important;}*!
}



!*mediaQuery*!!*IOS*!

!*
@media only screen and (max-width: 1024px) and (orientation : landscape) {
  !* LANDSCAPE: Apple iPad 1,2,3,4,Air,Mini, BlackBerry PlayBook, Samsung Galaxy Tab 2(7") *!
  .ios .topmargin-top{
    margin-top:24%!important;}

}
*!

@media only screen and (min-width: 2048px) and (orientation:landscape) {
  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2048.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }
  .ios .topmargin-top{
    margin-top: 20%!important;}

}

@media only screen and (orientation:landscape) and (min-width: 1366px) and (min-height: 1024px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land1366.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:24%!important;}

}

@media only screen and (orientation:landscape) and (min-width: 2048px) and (min-height: 1536px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2048.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:26%!important;}

}

@media only screen and (min-width: 1536px) and (min-height: 2048px ) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:50%!important;}

}

@media only screen and (orientation:landscape) and (min-width: 2388px) and (min-height: 1668px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2388.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:22%!important;}

}

@media only screen and (min-width: 1668px) and (min-height: 2388px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:55%!important;}

}

@media only screen and (min-width: 1080px) and (min-height: 2160px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:65%!important;}
}

@media only screen and (orientation:landscape) and (min-width: 2160px) and (min-height: 1080px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2160.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:15%!important;}

}

@media only screen and (min-width: 1620px) and (min-height: 2160px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:55%!important;}

}

@media only screen  and (orientation:landscape) and (min-width: 2160px) and (min-height: 1620px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land216020.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:25%!important;}
}

@media only screen and (min-width: 1668px) and (min-height: 2224px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:55%!important;}
}

@media only screen and (orientation:landscape) and (min-width: 2224px) and (min-height:1668px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2224.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:20%!important;}
}

@media only screen and (orientation:landscape) and (min-width: 2732px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/1280x800.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top {
    margin-top: 20%!important;
  }
}


!*@media only screen and (orientation:landscape) and (min-width: 2732px) and (min-height: 2048px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2732.jpg")!important;
    background-size: cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }


}*!

!*@media only screen and (min-width: 2048px) and (min-height: 2732px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2048.jpg")!important;
    background-size: cover!important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top {
    margin-top: 40%!important;
  }
}*!

@media only screen and (min-width: 1600px) and (min-height: 2560px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover!important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top {
    margin-top: 60%!important;
  }
}

@media only screen and (orientation:landscape) and (min-width: 2560px) and (min-height: 1600px) {

  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2560.jpg")!important;
    background-size: cover!important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:23%!important;}

}

@media only screen and (orientation:landscape) and (min-width: 2960px) and (min-height: 1440px) {
  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen_land2960x1440.jpg")!important;
    background-size: cover!important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:16% !important;}

}

@media only screen and (min-width: 1440px) and (min-height: 2960px) {
  ion-page ion-content{ background-image: url("src/assets/imgs/styleVShare/Login_Screen.jpg")!important;
    background-size: cover!important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
  }

  .ios .topmargin-top{
    margin-top:80% !important;}
}
*/

