ion-col {
  //border: 1px solid grey;
  text-align: center;
}

.open-card {
  background: #f2f2f2;
}

.agreementNo{
  color:var(--cs-text-accent)
}

/* Style component 1
========================================================*/

.collapsible-header {
  padding: 4px 8px 0 8px !important;

  .default-item {
    width: 100% !important;
    margin: 0 !important;
  }
}

.box-shadow {
  box-shadow: 0 1px 1px #c7c7cc !important;
  position: relative;
  z-index: 999;
}
/* Settings Accordion "OPEN" */

.item-accordion {
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  max-height: 0;
  display: block !important;
  overflow: hidden;

  &.active {
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: visible;
    max-height: 999px;
  }
}

.accountDetailsCard {
  margin: 0 8px 8px 8px;
}

.bottom-border {
  border-bottom: 1px solid #d6e1e5;
}

.summary-header{
  background: #d6e1e5;
}

ion-select {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0 !important;
  text-align: center;
}
