<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-no-padding ion-no-margin" >
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'lbl_setting' | translate}}</ion-title>
      <ion-buttons slot="end" class="ion-no-padding"></ion-buttons>
    </ion-toolbar>
  </ion-header>
<!-- Content -->
<!--Theme Profile - Profie With Avatar-->
<ion-content>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row class="profile-info">
        <ion-col size="12">
          <ion-card class="no-box-shadow no-border-radius ion-no-margin">
            <ion-card-header class="background-size topmargin-top" *ngIf="data != null"><!-- [ngStyle]="{'background-image': 'url(assets/imgs/'+ environment.themeCategory + '/Login_Screen.jpg)'}" -->
            </ion-card-header>
            <ion-card-content class="ion-no-padding  box-shadow">
              <ion-item lines="none" class="ion-no-padding transparent avatar-section">
                <ion-thumbnail>
                  <img [src]="profileImageUrl" (error)="onErrorProfilePic()" alt="profile pic">
                </ion-thumbnail>
              </ion-item>
              <ion-item lines="none" class="transparent">
                <ion-label class="ion-text-center ion-text-nowrap">
                  <h1 class="text-size-md text-color-primary font-bold">{{'lbl_name' | translate}}: {{data.name}}</h1>
                  <p class="text-size-sm text-color-primary font-regular">{{'lbl_user_id' | translate}}: {{data.userId}}</p>
                  <p class="text-size-sm text-color-primary font-regular">{{'lbl_corporate_name' | translate}}: {{data.corporateName}}</p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row class="profile-content">
        <ion-col size="12">         
          <ion-item lines="none" class="transparent">
            <ion-label><h1 class="ion-no-margin text-color-primary font-bold text-size-md">{{'lbl_biometric' | translate}}</h1></ion-label>
            <ion-toggle  [(ngModel)]="useBiometricAuth" (ionChange)="biometricBtnToggle($event)" [disabled]="!(isBioMatricApplicable | async)"></ion-toggle>
          </ion-item>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </ion-content>
