.ion-padding {
  --padding-start: 4px;
  --padding-end: 4px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.ion-item-border{
   padding: 0px!important;
}
.ion-no-border-top{
  border-top: none!important;
}
