.tote-mole {

  /* Settings Fonts Size And Icon Size
      =======================================================
      =======================================================*/

  --fallback-color: red;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 17px;
  --h4-font-size: 16px;
  --h5-font-size: 15px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

  /* Settings Fonts Size Icon
      =======================================================
      =======================================================*/

  --icon-size-small: 17px;
  --icon-size-medium: 22px;
  --icon-size-large: 32px;
  --icon-size-extra-large: 48px;

  /* Settings Color Background Our App
    =======================================================
    =======================================================*/

  --cs-background-primary: #FFFFFF;
  --cs-background-secondary: #F8F8F9;
  --cs-background-accent: #A20909;
  --cs-background-dark: #71757E;
  --cs-background-border: #B7b9be;

  /* Settings Color Text Our App
    =======================================================
    =======================================================*/

  --cs-text-primary: #71757E;
  --cs-text-secondary: #fff;
  --cs-text-accent: #A20909;

  /* Settings Size Avatar
=======================================================
=======================================================*/

  --size-avatar: 72px;

  /* Settings Size Thumbnail
=======================================================
=======================================================*/

  --size-thumbnail: 78px;

  /* Settings Border Radius
=======================================================
=======================================================*/

  --border-radius: 8px;
  /* Settings Color Icon
=======================================================
=======================================================*/

  --cs-icon-color-primary: #71757E;
  --cs-icon-color-secondary: #ffffff;
  --cs-icon-color-accent: #A20909;
  --ion-color-colorRed: red;
}
