<div [formGroup]="formGroup">
  <ion-item  class="ion-no-padding" ><!--*ngIf="beneficiaryPaymentMethodMapDetails.mmID"-->
    <ion-label position="stacked">{{'lbl_beneficiary_mobile_number' | translate}}</ion-label>
    <ion-input type="text" formControlName="beneficiaryPaymentMethodMapDetails.mobileNo"
      [value]="formData.beneficiaryPaymentMethodMapDetails?.mobileNo"  class="custom-input ion-no-padding text-size-p" readonly></ion-input>
  </ion-item>
  <ion-item  class="ion-no-padding" ><!--*ngIf="beneficiaryPaymentMethodMapDetails.mmID"-->
    <ion-label position="stacked">{{'lbl_mmid' | translate}}</ion-label>
    <ion-input type="text" formControlName="beneficiaryPaymentMethodMapDetails.mmID"
      [value]="formData.beneficiaryPaymentMethodMapDetails?.mmID"  class="custom-input ion-no-padding text-size-p" readonly></ion-input>
  </ion-item>
  <ion-item  class="ion-no-padding" ><!--*ngIf="beneficiaryPaymentMethodMapDetails.swiftCode"-->
    <ion-label position="stacked">{{'lbl_ifsc' | translate}}</ion-label>
    <ion-input type="text" formControlName="beneficiaryPaymentMethodMapDetails.swiftCode"
      [value]="formData.beneficiaryPaymentMethodMapDetails?.swiftCode"  class="custom-input ion-no-padding text-size-p"></ion-input>
  </ion-item>
  <ion-item  class="ion-no-padding" ><!--*ngIf="beneficiaryPaymentMethodMapDetails.swiftCode"-->
    <ion-label position="stacked">{{'lbl_beneficiary_account_no' | translate}}</ion-label>
    <ion-input type="text" formControlName="beneficiaryPaymentMethodMapDetails.accountNo"
      [value]="formData.beneficiaryPaymentMethodMapDetails?.accountNo"  class="custom-input ion-no-padding text-size-p"></ion-input>
  </ion-item>
</div>

