/*
// Comfortaa light
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito/Nunito-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

// Nunito Regular
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito/Nunito-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}


// Nunito SemiBold
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito/Nunito-SemiBold.ttf);
    font-style: normal;
    font-weight: 700;
}



// Nunito Bold
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/Nunito/Nunito-Bold.ttf);
    font-style: normal;
    font-weight: 900;
}

*/



// Comfortaa light
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular-webfont.ttf);
    font-style: normal;
    font-weight: 300;
}

// Roboto Regular
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular-webfont.ttf);
    font-style: normal;
    font-weight: 400;
}


// Roboto SemiBold
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular-webfont.ttf);
    font-style: normal;
    font-weight: 700;
}



// Roboto Bold
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular-webfont.ttf);
    font-style: normal;
    font-weight: 900;
}

