/*.ion-margin-new{
  margin: 0px;
}

ion-row {
  border-bottom: 1px solid var(--cs-background-secondary);
}
*/
/*
.ion-card{
  width: calc(100% - 32px) !important;
  border: 1px solid blue;
}*/
.widgetBorder{
  border: 1px solid var(--cs-background-secondary);

}
