<!-- DRAGEN AND DROP --COMPONENT 1 -->
<ion-card class="no-border-radius widgetBorder ion-no-padding ion-no-margin ion-margin-start ion-margin-end ion-margin-top">
  
  <ion-card-header class="padding-half background-secondary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="11">
          <ion-card-title class="text-size-p  ion-text-capitalize">{{'lbl_process_queue' | translate}}</ion-card-title>
        </ion-col>
        <ion-col size="1">
           <ion-buttons (tap)="refreshPage()">       
              <ion-icon name="refresh-outline" class="icon-color-primary icon-font-md"></ion-icon>
            </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-grid class="ion-no-padding"  *ngIf="data?.length != 0 && !isLoading">
      <ion-row class="padding-half">
        <ion-col size="6">
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{'lbl_process_name' | translate}}</p>
        </ion-col>
        <ion-col size="3">
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{'lbl_batches' | translate}}</p>
        </ion-col>
        <ion-col size="3">
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{'lbl_request' | translate}}</p></ion-col>
      </ion-row>
      <ion-row class="padding-half" *ngFor="let item of data index as i">
        <ion-col size="6">
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{item.processName}}</p></ion-col>
        <ion-col size="3">
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{item.batches}}</p></ion-col>
        <ion-col size="3" >
          <p class="text-color-primary text-nowrap ion-no-padding ion-no-margin">{{item.requests}}</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-no-padding"  *ngIf="data?.length == 0 && !data?.length && !isLoading">
      <ion-row>
        <ion-col size="12" class="ion-padding-vertical text-size-sm text-color-primary ion-text-center"> {{'lbl_no_data_found' | translate}}</ion-col>
      </ion-row>
    </ion-grid>
    <listing-skeleton *ngIf="isLoading" [itemsCount]="1"></listing-skeleton>

  </ion-card-content>

</ion-card>



