ion-list {

  /*padding-bottom: 0px;
  padding-right: 16px;*/

  ion-item-sliding{
    background: var(--cs-background-accent);
  }

  ion-item{
    --inner-padding-end: 0px!important;
    --inner-padding-top: 5px!important;
    --inner-padding-bottom: 5px!important;
  }

}