ion-select {
  max-width: 100%;
  font-size: small;
 /* padding: 0px!important;
  margin: 0px!important;*/
}
ion-input{
  width: 100% !important
}

ion-item {
  --padding-start: 0px;
}

.fullWidth {
  width: 100% !important;
}

.pt10 {
  padding-top: 2px;
}